@if (loggedIn) {
<button (click)="getRecommendations()">Get Tracks</button>

} @else {
<button (click)="sendAuth()">Login</button>

}
<div [innerHTML]="authorizationHTML">aaaaa</div>
<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
@if (retrievedInfo){
<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h2 class="text-2xl font-bold text-gray-900">Collections</h2>

      <div
        class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0"
      >
        <div class="group relative">
          <div
            class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64"
          >
            <img
              src="{{ data?.tracks[0]?.album?.images[0]?.url }}"
              alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
              class="h-full w-full object-cover object-center"
              style="width: 200px; height: 200px"
            />
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="{{data?.tracks[0]?.album?.external_urls.spotify}}">
              <span class="absolute inset-0"></span>
              {{ data.tracks[0].album.name }}
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">
            {{ data.tracks[0].album.artists[0].name }}
        </p>
        </div>
      </div>
    </div>
  </div>
</div>

}
